.header {
    text-align: center;
    background-color: black;
    color: white;
}

#searchForm {
    text-align: left;
    color: black;
    display: flex;
}

#weatherInfo {
    text-align: left;
    position: relative;
    margin-right: 30px;
    padding-left: 25%;

}